html, body { margin: 0 auto; }

body { 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	font-size: 16px;
}

a { text-decoration: none; color: #185fa5; }
/*a:hover { text-decoration: none; color: #185fa5; }*/

.pseudo-link { color: #185fa5; cursor: pointer; }

ul { padding: 0; margin: 0; }
li { list-style: none; }


h3 {
	font-size: 24px;
	font-weight: 200;
	margin: 20px 0;
	line-height: 1.2;
	position: relative;
}

.frontmap {
	position: absolute;
	width: 100%;
	height: 100%;
}

.panelmap{
	position: absolute;
}

.mapCanvas {
	width: 55%;
	height: 100%;
	float: left;
	display: inline-block;
}

.container {
	padding: 20px 40px;
	margin-bottom: 60px;
	display: table;
	font-weight: 300;
	line-height: 1.4;
	float: right;
	width: calc(45% - 80px);
}

.sectionTitle{
	font-weight: 400;
}

.photos {
	display: inline-block;
}

.col{
	margin-right: 100px;
	width: 336px;
}

#infoPanel {	}


#closest-address {
	margin-bottom: 10px;
	font-size: 18px;
}

#markerStatus{
	display: none;
}

.saved {
	font-size: 14px;
	background: rgba(139,182,87,0.5);
	padding: 2px 10px;
	margin-top: 7px;
	border-radius: 3px;
	top: -1px;
	position: absolute;
	margin-left: 15px;
	display: none;
}

.postit{
	display: block;
}

.after_saved{
	display: none;
}

.saved-info {
	margin-bottom: 6px;
	display: table;
	font-weight: bold;
}

.menu-links ul {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 10px;
}

form#MyUploadForm {
	display: table;
}

div#output {
	margin-bottom: 20px;
}

input#imageInput {
	border: none;
}

.upload-btn {
	width: 142px;
	height: 34px;
	text-align: center;
	margin: 10px 0;
	float: left !important;
}

#progressbar {
	height: 20px;
	border-radius: 3px;
	background-color: #25aa58;
	width: 1%;
}

#statustxt {
	top: 3px;
	left: 50%;
	position: absolute;
	display: inline-block;
	color: #000000;
	font-size: 11px;
}

.menu-links ul li{
 	list-style: none;
 	display: inline-block;
 	margin-right: 15px
}

.photo_uploader {
	background: #f7f7f7;
}

.progress_bar{
  text-align: center; 
  width: 292px;
  border: 1px solid #999;
  border-radius: 3px;
  height: 25px;
  position: relative;
  margin-top: 10px
}
.progress{        
  background-color: rgba(179,209,146,0.65);
  width: 35px;
  display: inline-block;
  height: 100%;
  float: left;
}
.percent{
  position: absolute;
  right: -45px;
  top: 2px;
}

input, textarea {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 0 #000,inset 0px 3px 3px #eee;
	-webkit-box-shadow: 0 0 0 #000,inset 0px 3px 3px #eee;
	box-shadow: 0 0 0 #000,inset 0px 3px 3px #eee;
	font-size: 16px;
	border: 1px solid #bfbfbf;
	padding: 5px;
}


input {
	width: 100%;
	height: 26px;
}

.cl-block{
	margin: 10px 0; 
}

.addr-icon {
	background: url('/img/address-icon.png') no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	background-size: 12px;
	background-position-y: 4px;
}

.addr {
	font-size: 14px;
}

#address {
	margin-bottom: 20px;
}


.field{
	margin-bottom: 10px
}

.rest_infos {
	margin: 45px auto 0;
}

.filling{
	position: relative;
}

.styled-select {
	width: 280px;
	height: 34px;
	overflow: hidden;
	background: #eee url('/img/arrow_down.png') no-repeat right;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	background-size: 19px;
	background-position-x: 255px;
	margin-bottom: 10px;
}

.styled-select select {
	background: transparent;
	width: 280px;
	padding: 5px;
	border: 0;
	border-radius: 0;
	font-size: 14px;
	line-height: 1;
	height: 34px;
	-webkit-appearance: none;
	color: #666;
}

.area-desc {
	width: 100%;
	height: 100px;
	font-size: 13px;
	margin-bottom: 10px;
}

.new_record {
	float: left;
	margin-top: 35px;
}

.geoip-link {
	font-size: 19px;
	margin-top: 5px;
	display: table;
	float: left;
	position: absolute;
}

.fork-me {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
	width: 212px;
}

.blue {
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	color: #fff;
	border: 1px solid #1c74b3;
	border-top-color: #2c8ed1;
	border-bottom-color: #0d5b97;
	background: #2181cf;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37a3eb", endColorstr="#2181cf");
	background: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
	background: -moz-linear-gradient(top, #37a3eb, #2181cf);
	-moz-box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
	-webkit-box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	-webkit-text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	-moz-text-shadow: rgba(0,0,0,0.2) 0 1px 0;
}

.blue {
	font-size: 14px;
	padding: 7px 15px;
	font-weight: bold;
}

.bolton{
	border-radius: 4px;
	right: 0;
}

.combo{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	float: right;
}

.hash {
	position: relative;
	float: left;
}

.save{
	margin: 0 auto;
}

.closest { padding-right: 5px; }

.saved-photo{
	max-height: 280px;
}

.blue:hover, .blue.hovered{
	border:1px solid #1c74b3;
	border-top-color:#2c8ed1;border-bottom-color:#0d5b97;background:#2389dc;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3baaf4", endColorstr="#2389dc");
	background:-webkit-gradient(linear, left top, left bottom, from(#3baaf4), to(#2389dc));background:-moz-linear-gradient(top, #3baaf4, #2389dc)
}
.blue:active, .blue.pressed, .blue.touched, .blue.touch {
	border:1px solid #1c74b3;border-bottom-color:#0d5b97;background:#2181cf;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#37a3eb", endColorstr="#2181cf");
	background:-webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
	background:-moz-linear-gradient(top, #37a3eb, #2181cf);-moz-box-shadow:0 1px 0 #fff,inset 0 1px 3px rgba(101,101,101,0.3);
	-webkit-box-shadow:0 1px 0 #fff,inset 0 1px 3px rgba(101,101,101,0.3);box-shadow:0 1px 0 #fff,inset 0 1px 3px rgba(101,101,101,0.3)
}

#loading-img{
	display: inline-block;
	margin-top: 10px;
	display: none;
}




.spinner {
	background: url('/img/spinner.gif') no-repeat;
	width: 34px;
	height: 34px;
}

.spinner_search {
	right: -40px;
	position: absolute;
	top: -5px;
	display: none;
}

.spinner_save {
	margin-top: 1px;
	right: -40px;
	position: absolute;
	display: none;
}


.credits {
	position: relative;
	bottom: 20px;
	font-size: 14px;
	text-align: right;
	right: 10px;
}


.edit-record{ color: green; }
.delete-record{ color: red; }
.hidden{ display: none; }

ul.all-listings li {
	margin-bottom: 20px;
}


































